{% extends "base_page_1.html" %}
{%block service%}
class="dropdown active"
{%endblock%}

{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Hidratação em Bancos de Couro</h1>
                <p>O maior cuidado e atenção para que seu couro fique sempre perfeito.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li ><a href="/index.html">Home</a></li>
                    <li class="active"><a class="active" href="#">Serviços</a></li>
                    <li class="active">Hidratação em Bancos de Couro</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="services">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="pull-left">
                     <img src="/static/images/portfolio/recent/couro.jpg" alt="">
               
                  </div>
                    <div class="media-body">
                        <h3 class="media-heading">Conheça o Serviço de Hidratação em Bancos de Couro</h3>
                        <p><br>
                        Cuidar e preservar para que tenha bancos sempre em perfeito estado.</p>
                        <p>Com profissionais devidamente treinados, qualificados, utilizamos de técnias avançadas para cuidar do couro do seu carro.</p>
                        <p>Tudo começa com uma profunda limpeza e após realizamos intensas hidratações em todas aas partes de couro de seu veículo trazendo seu brilho e macies originais. Em muitos casos conseguimos recuperar inperfeições que o tempo deixa nos bancos de couro.</p>
                    </div>
                </div>
            </div><!--/.col-md-4--><!--/.col-md-4--><!--/.col-md-4-->
        </div><!--/.row-->
        <div class="gap"></div><!--/.row-->
        <hr>
        <div class="row"></div>
       <center> <a class="btn btn-success" href="/antes-e-depois/hidratacao-de-carros.html">VEJA O ANTES E DEPOIS CLICANDO AQUI</a>
       </center>
    </div>
</section>   
{%endblock%}
