{% extends "base_page_1.html" %}
{%block service%}
class="dropdown active"
{%endblock%}

{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Higienização Automotiva</h1>
                <p>Serviço impecável para clientes exigentes! Seu carro limpo e cheiroso com novo.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/index.html">Home</a></li>
                    <li class="active">Higienização Automotiva</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="services">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="pull-left"><img src="/static/images/portfolio/recent/higienizacao.jpg" alt=""></div>
                    <div class="media-body">
                        <h3 class="media-heading">Conheça o Serviço de Higienização Automotiva</h3><br>
                        <p>Nada melhor do que entrar dentro de um carro limpinho e cheiroso. Esta é a proposta do Rodrigo Martelinho com este serviço.</p>
                        <p>Através de técnias aprimoradas e muita experiencia conseguimos higenizar seu carro de tal forma a ficar parecendo carro zero na maioria dos carros. </p>
                        <p>Lavamos com produtos especiais toda tapeçaria de seu carro e garantimos uma secagem especial para que não venha prejudicar o tecido e espuma.</p>
                    </div>
                </div>
            </div><!--/.col-md-4--><!--/.col-md-4--><!--/.col-md-4-->
        </div><!--/.row-->
        <div class="gap"></div><!--/.row-->
        <hr>
        <div class="row"></div>
       <center> <a class="btn btn-success" href="/antes-e-depois/higienizacao-de-carros.html">VEJA O ANTES E DEPOIS CLICANDO AQUI</a>
       </center>
    </div>
</section>   
{%endblock%}