{% extends "base_page_1.html" %}
{%block service%}
class="dropdown active"
{%endblock%}

{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Martelinho de Ouro</h1>
                <p>Conheça o serviço que desamassa seu carro mantendo sua originalidade.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Martelinho de Ouro</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="services">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="pull-left"><img src="/static/images/portfolio/recent/martelinho.jpg" alt=""></div>
                    <div class="media-body">
                        <h3 class="media-heading">Conheça o Serviço de Martelinho de Ouro</h3><br>
                        <p>Também conhecida como Funilaria Artesanal, a técnica de desamassar metais sem danificar a pintura tornou-se conhecida no Brasil como ''Martelinho de Ouro''.</p>
                        <p>A origem desta técnica data dos anos 70, nas linhas de montagem da Mercedes Benz, em Stuttgart, na Alemanha, onde alguns técnicos massageavam a chapa de metal, de dentro para fora, até restabelecer a perfeição nos carros que tinham pequenos amassados. Já nos anos 80, nos Estados Unidos, a técnica tornou-se mais conhecida, também pela nova montagem dos carros, com chapas de metal mais finas e pinturas mais resistentes e maleáveis.</p>
                    </div>
                </div>
            </div><!--/.col-md-4--><!--/.col-md-4--><!--/.col-md-4-->
        </div><!--/.row-->
        <div class="gap"></div><!--/.row-->
        <hr>
        <div class="row"></div>
       <center> <a class="btn btn-success" href="/antes-e-depois/martelinho-de-ouro.html">VEJA O ANTES E DEPOIS CLICANDO AQUI</a>
       </center>
    </div>
</section>   
{%endblock%}