{% extends "base_page_1.html" %}
{%block service%}
class="dropdown active"
{%endblock%}

{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Outros Serviços</h1>
                <p>Serviços que agregam e traz benefícios reais aos nossos clientes.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/index.html">Home</a></li>
                    <li class="active">Higienização Automotiva</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="services">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="pull-left">
                     <img src="/static/images/portfolio/recent/outros.jpg" alt="">
               
                  </div>
                    <div class="media-body">
                        <h3 class="media-heading">Conheça o Serviço de Leva e Trás</h3><br>
                        <p>Para melhor atende-lo, nossa empresa Rodrigo Martelinho de Ouro dispõe do serviço de leva etrás, assim você não precisa se perocupar na momento de deixar seu véiculo conosco.</p>
                        <p>Profissionais qualificados, muito bem treinados irão lhe dar todo suporte. Nosso véiculos de transporte para clientes dispõe de ar condiconado, são devidamente higienizados e rastreados por satélite para toda sua segurança.</p>
                    </div>
                </div>
            </div><!--/.col-md-4--><!--/.col-md-4--><!--/.col-md-4-->
        </div><!--/.row-->
        <div class="gap"></div><!--/.row-->
        <hr>
        <div class="row"></div>
      
    </div>
</section>   
{%endblock%}