{% extends "base_page_1.html" %}
{%block service%}
class="dropdown active"
{%endblock%}

{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Revitalização Automotiva</h1>
                <p>Temos um alto padrão de qualidade para que seu carro fique como zero novamente</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/index.html">Home</a></li>
                    <li class="active">Revitalização Automotiva</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--/#title-->

<section id="services">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="pull-left"><img src="/static/images/portfolio/recent/revitalizacao.jpg" alt=""></div>
                    <div class="media-body">
                        <h3 class="media-heading">Conheça o Serviço de Revitalização Automotiva</h3><br>
                        <p>Após cuidar de todo o seu carro, Rodrigo Martelinho não poderia deixar de oferecer o que melhor sabe fazer: a estética. Além de produtos Meguiars, líder de mercado, o acabamento detalhado e o grande diferencial. Todos os carros revitalizados e higienizados passam por um box de controle de qualidade, onde são checados todos os itens executados não dando margem para nenhum detalhe.</p>
                        <p>Trabalhamos com produtos de primeira linha da Meguiar´s. Não medimos esforços para que você saia satisfeito!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <hr>
        <div class="row"></div>
       <center> <a class="btn btn-success" href="/antes-e-depois/revitalizacao-de-carros.html">VEJA O ANTES E DEPOIS CLICANDO AQUI</a>
       </center>
    </div>
</section>   
{%endblock%}