{% extends "base_page_1.html" %}
{% block antesedepois %}
class="dropdown active"
{%endblock%}

{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Antes e Depois: Hidratação em Bancos de Couro</h1>
                <p>O maior cuidado e atenção para que seu couro fique sempre perfeito.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/index.html">Home</a></li><li class="active">Antes e Depois</li>
                    <li class="active">Hidratação em Bancos de Couro</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="portfolio" class="container">
<h2>Alguns trabalhos realizados</h2>

O RODRIGO MARTELINHO atende todo tipo de cliente no serviço de Hidratação em Bancos de Couro. De uma Ferrari até um carro popular. O valor cobrado é proporcional as horas gastas no veículo tornando-se assim o melhor custo x benefício de Sorocaba e região. Atendemos pessoas físicas e temos planos especiais para lojistas e concessionárias.
<ul class="portfolio-filter">



</ul><!--/#portfolio-filter-->

    <ul class="portfolio-items col-3">
        <li class="portfolio-item apps">
            <div class="item-inner">
                <img src="/static/images/portfolio/hidratacaodecouro/foto1.jpg" alt="">
               
                <div class="overlay">
                    <a class="preview btn btn-danger" href="/static/images/portfolio/hidratacaodecouro/foto1z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                </div>           
            </div>           
        </li><!--/.portfolio-item-->
        <li class="portfolio-item joomla bootstrap">
            <div class="item-inner">
                <img src="/static/images/portfolio/hidratacaodecouro/foto2.jpg" alt="">
                
                <div class="overlay">
                    <a class="preview btn btn-danger" href="/static/images/portfolio/hidratacaodecouro/foto2z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>              
                </div>           
            </div>           
        </li><!--/.portfolio-item-->
        <li class="portfolio-item bootstrap wordpress">
            <div class="item-inner">
                <img src="/static/images/portfolio/hidratacaodecouro/foto3.jpg" alt="">
                <
                <div class="overlay">
                    <a class="preview btn btn-danger" href="/static/images/portfolio/hidratacaodecouro/foto3z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>        
                </div>           
            </div>           
        </li><!--/.portfolio-item-->
        <li class="portfolio-item joomla wordpress apps">
            <div class="item-inner">
                <img src="/static/images/portfolio/hidratacaodecouro/foto4.jpg" alt="">
                
                <div class="overlay">
                    <a class="preview btn btn-danger" href="/static/images/portfolio/hidratacaodecouro/foto4z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>          
                </div>           
            </div>           
        </li><!--/.portfolio-item-->
        <li class="portfolio-item joomla html">
            <div class="item-inner">
                <img src="/static/images/portfolio/hidratacaodecouro/foto5.jpg" alt="">
                
                <div class="overlay">
                    <a class="preview btn btn-danger" href="/static/images/portfolio/hidratacaodecouro/foto5z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>          
                </div>    
            </div>       
        </li><!--/.portfolio-item-->
        <li class="portfolio-item wordpress html">
            <div class="item-inner">
                <img src="/static/images/portfolio/hidratacaodecouro/foto6.jpg" alt="">
                
                <div class="overlay">
                    <a class="preview btn btn-danger" href="/static/images/portfolio/hidratacaodecouro/foto6z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                </div>           
            </div>           
        </li><!--/.portfolio-item-->
    </ul>
</section>   
{%endblock%}