{% extends "base.html" %}
{% block dicas %}
class="dropdown active"
{%endblock%}
{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Discas do Rodrigo Martelinho</h1>
                <p>Informações valiosas que vão lhe auxiliar com seu carro.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Dicas</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="faqs" class="container">
    <ul class="faq unstyled">
    <div>
                <h2>Não perca, todo mês uma dica diferente</h2><br>
    </div>
        <li>
            <span class="number">01</span>
            <div>
                <h4>ABASTEÇA SEMPRE EM POSTOS DE CONFIANÇA</h4>
                <p>Gasolina adulterada prejudica o veículo por inteiro.</p>
            </div>
        </li>
        <li>
            <span class="number">02</span>
            <div>
                <h4>CAUTELA NA HORA DE ESTACIONAR</h4>
                <p>Estacionar com as rodas viradas pode prejudicar o braço da suspensão.</p>
            </div>
        </li>
        <li>
            <span class="number">03</span>
            <div>
                <h4>VERIFIQUE SEMPRE O NÍVEL DO FLUÍDO DO RADIADOR</h4>
                <p>O radiador resfria o motor do carro fazendo circular o fluido de arrefecimento. Se há vazamento no sistema o fluido fica no nível baixo causando danos como: Superaquecer o motor.</p>
            </div>
        </li>
        <li>
            <span class="number">04</span>
            <div>
                <h4>VERIFIQUE O NÍVEL DE ÓLEO</h4>
                <p>O óleo serve para lubrificar, limpar, proteger e ainda ajuda na refrigeração do motor. Se estiver muito velho ou abaixo do nível ideal, o funcionamento do carro ficará prejudicado e a vida útil da máquina diminui. Verifique o nível a cada duas semanas.</p>
            </div>
        </li>
        <li>
            <span class="number">05</span>
            <div>
                <h4>CONFIRA A PARTE ELÉTRICA</h4>
                <p>90% do funcionamento do carro esta relacionado a parte elétrica. Falha na buzina, nas luzes e no trio elétrico mostram que algo esta desconectado.  Fique atento aos mínimos sinais para não ter surpresas futuras.</p>
            </div>
        </li>
        <li>
            <span class="number">06</span>
            <div>
                <h4>MANTENHA OS PNEUS SEMPRE CALIBRADOS</h4>
                <p>45% dos motoristas rodam com a pressão fora dos limites recomendados. Uma pressão abaixo da recomendada reduz a durabilidade do pneu em, pelo menos, 8.000km. Também aumenta o consumo de combustível e favorece o risco de explosão e acidentes na pista.</p>
            </div>
        </li>
    </ul>
</section>   
{%endblock%}