{% extends "base.html" %}
{% block nclientes %}
class="dropdown active"
{%endblock%}
{%block section%}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Nossos Clientes</h1>
                <p>Parceria de suceso e duradoura.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Clientes</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Conheça alguns de nossos clientes</h3>
                <p>Entre em contato conosco e venha ser nosso parceiro você também! Temos condições especiais para lojistas e concessionárias de Sorocaba e região.</p>
                <p class="gap"></p>
            </div>
            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                              <div class="col-xs-4">
                                  <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto2.jpg" alt="">
                                           
                                            <div class="overlay">
                                             
                                            </div>
                                        </div>
                                </div>
                              </div>                            
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto3.jpg" alt="">
                                            
                                            <div class="overlay">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto4.jpg" alt="">
                                            
                                            <div class="overlay">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto5.jpg" alt="">
                                            
                                            <div class="overlay">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto6.jpg" alt="">
                                            
                                            <div class="overlay">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto7.jpg" alt="">
                                            
                                            <div class="overlay">
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto1.jpg" alt="">
                                            
                                            <div class="overlay">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto8.jpg" alt="">
                                            
                                            <div class="overlay">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto9.jpg" alt="">
                                            
                                            <div class="overlay">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto10.jpg" alt="">
                                            
                                            <div class="overlay">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/foto11.jpg" alt="">
                                            
                                            <div class="overlay">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div><!--/.row-->
                        </div><!--/.item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/item2.png" alt="">
                                            <h5>
                                                Flat Theme - Business Theme
                                            </h5>
                                            <div class="overlay">
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/item1.png" alt="">
                                            <h5>
                                                Nova - Corporate site template
                                            </h5>
                                            <div class="overlay">
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <img class="img-responsive" src="/static/images/portfolio/recent/item3.png" alt="">
                                            <h5>
                                                Fornax - Apps site template
                                            </h5>
                                            <div class="overlay">
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.item-->
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
</section>   
{%endblock%}