
    {% extends "base.html" %}
    {%block empresa%}
    class="dropdown active" 
    {%endblock%}
    {%block section%}
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Rodrigo Martelinho de Ouro</h1>
                    <p>Conheça nossa empresa, profissionais e estrutura.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Empresa</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->
    <section id="portfolio" class="container">
  <h2>Conheça nossa empresa</h2>

<p>Com mais de 15 anos no mercado, Rodrigo Martelinho de Ouro atua com qualidade e clareza nas restaurações de seu veículo.</p>
            <p>Uma empresa que preza a excelência no trabalho. Com profissionais experientes, e equipamento de última geração, para a garantia de um resultado idêntico ao das montadoras, sempre com agilidade e rapidez.
  </p><br>
            </p>
            <h2>Conheça o Rodrigo Martelinho de Ouro</h2>
      <p>Rodrigo Martelinho, desde os 14 anos foi convidado a trabalhar na oficina do irmão de um parente próximo, onde ficou por 8 anos. Em seguida foi para Suíça trabalhar em uma famosa oficina do setor. O que seria um período curto acabou sendo dois anos até com proposta de permanecer no país. Mas mesmo diante de uma proposta irrecusável, ele resolveu voltar e montar sua própria oficina em Sorocaba. <br>Hoje Rodrigo Martelinho de Ouro é referência e líder na região, tendo acesso livre a todas as concessionárias e presta serviço quase todos os dias para seus carros novos.
</p>
      <p>&nbsp;</p>
      <h2>Produtos itulizados na oficina</h2>
     <p>Ultilizamos produtos de primeira qualidade da linha MEGUIAR´S trazendo mais profissionalizmo e comprometimento com nossos clientes.</p>
      <p><img src="static/images/portfolio/recent/produtos.jpg" width=100% height= auto></p>
      <p>&nbsp;</p>
<p>&nbsp;</p><!--/#portfolio-filter-->

        <ul class="portfolio-items col-3">
            <li class="portfolio-item apps">
                <div class="item-inner">
                    <img src="static/images/portfolio/fotosdaoficina/foto1.jpg" alt="">
                    
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="static/images/portfolio/fotosdaoficina/foto1z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla bootstrap">
                <div class="item-inner">
                    <img src="static/images/portfolio/fotosdaoficina/foto2.jpg" alt="">
                    
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="static/images/portfolio/fotosdaoficina/foto2z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>              
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item bootstrap wordpress">
                <div class="item-inner">
                    <img src="static/images/portfolio/fotosdaoficina/foto3.jpg" alt="">
                    
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="static/images/portfolio/fotosdaoficina/foto3z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>        
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla wordpress apps">
                <div class="item-inner">
                    <img src="static/images/portfolio/fotosdaoficina/foto4.jpg" alt="">
                    
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="static/images/portfolio/fotosdaoficina/foto4z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>          
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla html">
                <div class="item-inner">
                    <img src="static/images/portfolio/fotosdaoficina/foto5.jpg" alt="">
                    
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="static/images/portfolio/fotosdaoficina/foto5z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>          
                    </div>    
                </div>       
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="static/images/portfolio/fotosdaoficina/foto6.jpg" alt="">
                    
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="static/images/portfolio/fotosdaoficina/foto6z.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>           
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
        </ul>
    </section>
    {%endblock%}
    
    
    
